@font-face {
    font-family: Caveat;
    src: url(/assets/font/Caveat/Caveat-VariableFont_wght.ttf);
}

.start-screen{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-btn{
    width: 200px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 40px;
    font-family: Caveat;
    color: #a61717;
    cursor: pointer;

    &:hover{
        color: white;
        transform: rotate(10deg);
    }
}